trigger:
  - main   # or master, depending on your repo

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '16.x'
    displayName: 'Use Node.js'

  - script: |
      npm install
    displayName: 'Install dependencies'

  - script: |
      npm start
    displayName: 'Run application'

  - task: ArchiveFiles@2
    inputs:
      rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
      includeRootFolder: false
      archiveType: 'zip'
      archiveFile: '$(Build.ArtifactStagingDirectory)/nodeapp.zip'
      replaceExistingArchive: true
    displayName: 'Create build artifact'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/nodeapp.zip'
      ArtifactName: 'drop'
    displayName: 'Publish artifact'
